- content_for(:stripe) do
  = javascript_tag "var stripe = Stripe('#{STRIPE_PUBLISHABLE_KEY}'); var elements = stripe.elements();"

.premium-page
  .row
    .col-md-12
      %h2 Pay with card


  .row
    .col-md-6.col-xs-12.order-form
      = render 'stripe_form'

    .col-md-6.col-xs-12
      %p
        Maybe perks here
